html, body {

    max-width: 100% !important;
    overflow-x: hidden !important;
}

body {
    background-color: #262626;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: #efefef;
    word-wrap: break-word;
    line-height: 1.05;
    letter-spacing: 1px;
    letter-spacing: -0.015em;
    font-weight: 20;
    text-rendering: optimizeLegibility;
    /*margin: 10px 20px 30px 60px;*/
 }

h1 {
    color: SkyBlue;
    font-weight: 30;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
    color: MistyRose ;
}

.copyright {
	color: MistyRose;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);

    position: absolute;
    left: -3.5rem;
    top: 43rem;
    font-size:15px;
}

img.resize {
  max-width:70%;
  max-height:70%;
  margin: -30px 10px 10px -150px;

}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/*img.resize2 {
  max-width:70%;
  max-height:70%;
  margin: -703px 100px 100px 500px;
}*/